/* ---------------------- */
/* Custom properties      */
/* ---------------------- */
:root {
    --clr-dark: 230 35% 7%; 
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    
    /* fonts */
    --fs-144: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-100: 3.5rem;
    --fs-56: 1.5rem;
    --fs-32: 1.125rem;
    --fs-28: 1rem;
    --fs-18: 0.9375rem;
    --fs-16: 1rem;
    --fs-14: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root{
        --fs-100: 5rem;
        --fs-56: 2.5rem;
        --fs-32: 1.5rem;
        --fs-28: 1.25rem;
        --fs-18: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        --fs-100: 6.25rem;
        --fs-56: 3.5rem;
        --fs-32: 2rem;
        --fs-28: 1.75rem;
        --fs-18: 1.125rem;
    }
}

/* ---------------------- */
/* Utility classes        */
/* ---------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

/* adding spacing */

.flow > *:where(:not(:first-child)) {  
    margin-top: var(--flow-space, 1.5rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
  
  .skip-to-content {
      position: absolute;
      background-color: hsl(var(--clr-white));
      color: hsl(var(--clr-dark));
      padding: .5em 1em;
      margin-inline: auto;
      z-index: 1900;
      transform: translateY(-100%);
      transition: transform 250ms ease-in-out;
  }
  
  .skip-to-content:focus {
      transform: translateY(0);
  }
  
  /* colors */
  
  .bg-dark { background-color: hsl(var(--clr-dark));}
  .bg-accent { background-color: hsl(var(--clr-light));}
  .bg-white { background-color: hsl(var(--clr-white));}

  .text-dark { color: hsl(var(--clr-dark));}
  .text-accent { color: hsl(var(--clr-light));}
  .text-white { color: hsl(var(--clr-white));}
  
/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4px; } 
.letter-spacing-2 { letter-spacing: 2px; } 
 

.uppercase { text-transform: uppercase; }

.fs-144 { font-size: var(--fs-144); }
.fs-100 { font-size: var(--fs-100); }
.fs-56 { font-size: var(--fs-56); }
.fs-32 { font-size: var(--fs-32); }
.fs-28 { font-size: var(--fs-28); }
.fs-18 { font-size: var(--fs-18); }
.fs-16 { font-size: var(--fs-16); }
.fs-14 { font-size: var(--fs-14); }


.fs-144,
.fs-100,
.fs-56,
.fs-32 {
    line-height: 1.1;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-18);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-16);
    letter-spacing: 4.72px;
    text-transform: uppercase;
}

.numbered-title span {
    margin-right: 0.5em;
    font-weight: 700;
    color: hsl(var(--clr-white) / .25);
}

/* ---------------------- */
/* Components             */
/* ---------------------- */

.large-button {
    font-size: 1.125rem;
    position: relative;
    display: inline-grid;
    z-index: 1;
    place-items: center;
    padding: 0 2em;
    margin-block: 7.4rem;
    border-radius: 50%;
    width: 9rem;
    aspect-ratio: 1 / 1;
    text-decoration: none;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: hsl(var(--clr-white) / .1);
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

/* primary-header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    background-color: hsl( var(--clr-dark) / 0.95);
}

@supports (backdrop-filter: blur(1.5rem)) {
    .primary-navigation {
        background-color: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
   }
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 20%;
        list-style: none;
        flex-direction: column;
        padding: min(20rem, 15vh) 2rem;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }
    
    .primary-navigation.underline-indicators > .active {
        border: none;
    }
    
    .primary-navigation[data-visible='true'] {
        transform: translateX(0);
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 1500;
        right: 1rem;
        top: 2rem;
        background: transparent;
        border: none;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
    }
    
    .mobile-nav-toggle[aria-expanded='false'] {
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
    }
    
    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url(./assets/shared/icon-close.svg);
        background-repeat: no-repeat;
    }
       
    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}

@media (min-width: 35em) and (max-width: 44.999em) {
    .primary-navigation a > span {
        display: none;
    }
}

@media (min-width: 45em) {
    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        background-color: hsl(var(--clr-white) / .25);
        order: 1;
        margin-inline: 1rem -3rem;
        z-index: 1700;
    }
    
    nav {
        order: 2;
    }

    .primary-navigation {
        margin-block: 2rem;
    }
    
}

.underline-indicators > * {
    padding: var(--underline-gap, .5rem) 0;
    border: 0;
    font-size: var(--fs-14);
    cursor: pointer;
    border-bottom: .2rem solid hsl(var(--clr-white) / 0);
    background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl(var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected='true']{
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    background-color: hsl(var(--clr-white) / .25);
    border: none;
    border-radius: 50%;
    padding: .5em;
}

.dot-indicators > *:hover,
.dot-indicators > *:focus{
    background-color: hsl(var(--clr-white) / .5);  
}

.dot-indicators > [aria-selected='true'] {
    background-color: hsl(var(--clr-white) / 1);
}

/* ------------------- */
.num-indicators > * {
    cursor: pointer;
    color: hsl(var(--clr-white));
    width: clamp(2.5rem, 7vw + 1rem, 5rem);
    background-color: hsl(var(--clr-white) / 0);
    border: 1px solid hsl(var(--clr-white) / .2);
    border-radius: 50%;
    aspect-ratio: 1;
}

.num-indicators > *:hover,
.num-indicators > *:focus{
    border: 1px solid hsl(var(--clr-white) / .5); 
}

.num-indicators > [aria-selected='true'] {
    color: hsl(var(--clr-dark));
    background-color: hsl(var(--clr-white) / 1);
}

/* --------------------------------- */

/* --------------------------- */
/* Page specific background    */
/* --------------------------- */
body {
    background-size: cover;
    background-position: bottom center; 
}

/* home */
.home {
    background-position: center top;
    background-image: url(./assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
    .home {
        background-position: center center;
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
}

/* destination */
.destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem) {
    .destination {
        background-position: center center;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .destination {
        background-image: url(./assets/destination/background-destination-desktop.jpg);
    }
}

/* crew */
.crew {
    background-image: url(./assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 35rem) {
    .crew {
        background-position: center center;
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .crew {
        background-image: url(./assets/crew/background-crew-desktop.jpg);
    }
}

/* technology */
.technology {
    background-image: url(./assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 35rem) {
    .technology {
        background-image: url(./assets/technology/background-technology-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .technology {
        background-image: url(./assets/technology/background-technology-desktop.jpg);
    }
}

/* --------------------------- */
/* Layout                      */
/* --------------------------- */

.grid-container {
    display: grid;
    text-align: center;
    place-items: center;
    align-items: start;
    padding: 1.5rem;
}

/* home layout */
.intro > h1 span {
    margin-top: 1.5rem;
}

.grid-container p:not([class]) {
    max-width: 50ch;
}

.numbered-title {
    grid-area: title;
}


/* destination layout */
.grid-container--destination {
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--destination > picture {
    grid-area: image;
    max-width: 60%;
    padding-block: 1.625rem;
    align-self: center;
}

.grid-container--destination > .tab-list {
    grid-area: tabs;
}

.grid-container--destination > .destination-details {
    grid-area: content;
}

.destination-details  > p:not([class]) {
    margin-top: 1rem;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl(var(--clr-white) / .1);
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

.destination-meta p {
    font-size: 1.75rem;
}


/* crew layout */
.grid-container--crew {
    grid-template-areas:
        'title'
        'content'
        'dots'
        'image';
}

.grid-container--crew > .numbered-title {
    margin-bottom: 1.5rem;
}

.grid-container--crew > .crew-details {
    grid-area: content;
    margin-top: 2.5rem;
}

.crew-details header > * {
    --flow-space: 0.5rem;
}

.crew-details header h2 {
    color: hsl(var(--clr-white) / .5);
}

.crew-details p:not([class]) {
    line-height: 1.8;
    min-height: 10.24rem;
}

.grid-container--crew > .dot-indicators {
    grid-area: dots;
    gap: 1rem;
} 

.grid-container--crew > picture {
    --flow-space: 2rem;
    grid-area: image;
    max-width: 80%;
    height: auto;
    border-bottom: 1px solid hsl(var(--clr-white) / .1);
}

/* technology layout */
.grid-container--technology {
    grid-template-areas:
        'title'
        'image'
        'nums'
        'content';
    justify-items: center;
    padding-inline: 0;
}

.grid-container--technology > *:not(picture) {
    padding-inline: 1.5rem;
}

.grid-container--technology > .numbered-title {
    margin-bottom: 1.5rem;
}

.grid-container--technology > picture {
    grid-area: image;
    clip-path: inset(28% 0 0 0);
    margin: -4rem 0 0 0;
    width: 100%;
}

.grid-container--technology > .num-indicators {
    grid-area: nums;
    --gap: 1rem;
    margin-top: 2rem;
}

.grid-container--technology > .num-indicators > * {
    font-size: var(--fs-32);
}

.grid-container--technology > .technology-details {
    grid-area: content;
    margin-top: 2.5rem;
}

.technology-details header h2 {
    color: hsl(var(--clr-white) / .5);
}

.technology-details header p {
    --flow-space: 1rem;
}

.technology-details > p:not([class]) {
   margin: auto;
   margin-top: 1rem;
}

@media (min-width: 35em) {
    .grid-container--home {
        padding: 8rem 2.5rem;
    }

    .numbered-title {
        justify-self: start; 
        font-size: var(--fs-20);
    }
    
    .underline-indicators > * {
        font-size: var(--fs-16);
    }
    
    .large-button {
        width: 17rem;
        font-size: 2rem;
        margin-top: 4.125rem;
    }
    
    .grid-container--destination {
       padding: 2.5rem;
    }
    
    .grid-container--destination > .destination-details {
        min-height: 20rem;
    }
    
    .grid-container--destination > picture {
        align-self: center;
    }
    
    .grid-container--destination > picture img {
        max-width: 80%;
        height: auto;
     }
    
    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .grid-container--crew {
        padding: 2.5rem;
    }
    
    .grid-container--crew > .numbered-title {
         margin-bottom: 1.5rem;
    }
       
    .crew-details {
        margin-top: 2.5rem;
    }
    
    .crew-details header > * {
        --flow-space: 1rem;
    }
    
    .crew-details > p {
        justify-self: center;
        max-width: 32rem;
    }
    
    .grid-container--crew > picture{
        margin-top: 2rem;
    }
    
    .grid-container--technology {
        padding-block: 2.5rem;
        padding-inline: 0;
    }
    
    .grid-container--technology > *:not(picture) {
        padding-inline: 2.5rem;
    }
}

@media (min-width: 45em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 34rem)) minmax(1rem, 1fr);
    }
        
    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }
    
    .grid-container--home > *:first-child {
        grid-column: 2;

    }
    
    .grid-container p:not([class]) {
        max-width: 100%;
    }
    
    .grid-container--home > *:last-child {
        grid-column: 3;
        place-self: end;
    }
    
    .large-button {
        margin-block: auto;
        align-self: center;
    }
    
    .numbered-title {
        font-size: var(--fs-28);
    }
    
    .destination, .crew, .technology {
        scrollbar-gutter: stable;
    }
    
    .grid-container--destination {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 30rem) minmax(0, 28rem) minmax(1rem, 1fr);
        grid-template-areas:
            '. title title .'
            '. image tabs .'
            '. image content .';
        justify-items: start;
        align-content: start;
        padding-top: 3rem;
    }
    
    .grid-container--destination > .underline-indicators,
    .grid-container--destination > picture {
        margin-top: 5rem;
    }
    
    .grid-container--destination > picture {
        max-width: 100%;
        align-self: start;
    }
    
    .grid-container--destination > picture img{
        max-width: 100%;
    }
    
    .grid-container--destination > .destination-details {
        --flow-space: 2.5rem;
    }
    
    .destination-meta {
        justify-content: start;
        --gap: min(6vw, 6rem);
        padding-top: 2.5rem;
        margin-top: 2.5rem;
    }
    
    .grid-container--crew {
        grid-template-areas:
            '. title title .'
            '. content image .'
            '. dots image .';
        --container-gap: 0;
        gap: 2rem;
        justify-items: start;
        align-content: start;
        padding-top: 3rem;
    }
    
    .grid-container--crew > .crew-details {
        align-self: end;
    }
    
    .crew-details > header p {
        overflow-wrap: break-word;
        word-break: break-word;
    }
    
    .crew-details p {
        justify-self: start;
        width: 100%;
    }
    
    .grid-container--crew > picture {
        max-width: 100%;
        align-self: center;
    }
    
    .grid-container--crew > picture img {
         max-height: 35rem;
         width: auto;
    }
    
    .grid-container--crew > .dot-indicators {
        align-self: center;
        gap: 2.5rem;
    }

    .grid-container--technology {
        grid-template-columns: minmax(1rem, auto) minmax(0rem, 10rem) minmax(0rem, 31rem) minmax(0rem, 38rem);
        grid-template-areas:
            '. title title .'
            '. nums content image';
        justify-content: center;
        align-content: start;
        padding: 3rem 0 3rem 0;
        gap: 0;
    }
    
    .grid-container--technology > .numbered-title {
        padding-inline: 0;
        align-self: center;
    }
    
    .grid-container--technology > .num-indicators {
        flex-direction: column;
        align-self: center;
        margin: 0 4rem 0 0;
        --gap: 2rem;
        padding: 0;
    }
    
    .grid-container--technology > .technology-details {
        align-self: center;
        width: 100%;
        padding-inline: 0;
        margin-block: 0;
        margin-right: 2rem;
    }
    
    .technology-details p:not([class]) {
        margin-top: 1.5rem;
    }
    
    .grid-container--technology > picture {
        clip-path: inset(5% 0 0 0);
        margin-left: 2rem;
        margin-block: auto;
    }
    
    .grid-container--technology > picture img{
        width: 100%;
        height: auto;
    }
}


